.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avialability {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.doctor-img {
  height: 100%;
  width: 60px;
}
.slider-container {
  padding: 40px;
  background-color: #e9ebe1;
}
.d-name {
  color: #000000;
  font-family: 'Roboto';
}
